
*{
  
    font: sans-serif ;
  
  }




.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
   }

   .content-table thead tr{
    background-color:rgb(58, 140, 211);
    color:white;
    text-align: left;
    font-weight: bold;

   }

  .asas{
    background-color:rgb(204, 184, 197);
    
  }
  a:link { text-decoration: none; 
            color:black;              
  }

   